/* Do not add into this file
If you want to modify the styling copy this
and update. Then remove the include and import your modifide styling
*/
:root {
    --carousel-width: 100vw;
    --carousel-height: 60vh;
    --carousel-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    --carousel-padding: 5px;
    --outline-color: rgb(171, 254, 185);
    --primary-color: rgb(0, 0, 0, 0.75);
}
/* Default resets */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    margin: 0; /* interferes with 100vw */
}
img {
    max-width: 100%;
}

.viewport [hidden] {
    display: none !important;
}

.viewport {
    position: relative;
    width: var(--carousel-width);
    max-width: 100%;
    max-height: var(--carousel-height);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

.viewport.slider-small {
    --carousel-height: 40vh;
}

.slider {
    position: static;
    min-height: 100px;
    width: 100%; /* For those good old-fashioned browsers with no vw or calc() support */
    width: var(--carousel-width);
    max-width: 100vw;

    overflow-x: auto;
    overflow-y: hidden;
}
.carousel-title {
    font-style: normal;
    font-weight: 500;
    color: white;
    font-size: 6vmin;
    letter-spacing: .03em;
    line-height: 1;
    text-shadow: 1px 2px 4px rgb(0 0 0 / 80%);
    width: 60%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.slider {
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
}
.slider::-webkit-scrollbar {
    display: none;
}

.slider:focus-visible {
    outline: 4px solid var(--outline-color);
}


ul.scroll-frame {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
}

li.scroll-item-outer {
    flex: 0 0 100%;
    display: flex;
    place-items: center;
    position: relative;
}
.carousel-link::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.carousel-title-link:hover,
.carousel-title-link:focus {
    color: black;
    text-decoration: underline;
}

li .scroll-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(90deg,rgba(0,77,61,.85) 0,rgba(0,0,0,0) 50vw);
    /* background-image: linear-gradient(to top right,#000000,rgba(0,0,0,0) 60%);
    background-repeat: repeat-x; */
}

@supports (scroll-snap-align: start) {
    .slider {
        scroll-behavior: smooth;
        scroll-snap-type: x mandatory;
    }

    .scroll-item-outer {
        scroll-behavior: smooth;
        scroll-snap-align: center;
    }
}

@supports not (scroll-snap-align: start) {
    .slider {
        -webkit-scroll-snap-type: mandatory;
        scroll-snap-type: mandatory;
        -webkit-scroll-snap-destination: 0% center;
        scroll-snap-destination: 0% center;
        -webkit-scroll-snap-points-x: repeat(100%);
        scroll-snap-points-x: repeat(100%);
    }

    .scroll-item-outer {
        scroll-snap-coordinate: 0 0;
    }
}

.scroll-item {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    width: 100%;
}

.scroll-item picture {
    /* display: contents; */
    display: block;
    width: 100%;
    height: 100%;
}

.scroll-item img {
    object-fit: cover;
    aspect-ratio: 19 / 7;
}

.scroll-item figcaption {
    font-weight: bold;
    font-style: italic;
    font-family: var(--font-family);
    padding: 1rem;
    color: white;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-color);
    background-color: #4d8277d6;
    text-align: center;
}

.indicators {
    display: flex;
    width: 100%;
    justify-content: center;
    position: absolute;
    bottom: 4em;
    gap: 0.25rem;
}

ul.indicators,
ol.indicators {
    margin: 0;
    padding: 0;
    list-style: none;
}

li.indicator {
    padding: 0;
}

.indicator-button {
    cursor: pointer;
    background-color: white;
    border: none;
    color: white;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 2rem;
    height: 0.25rem;
}


.indicator-button:hover,
.indicator-button:focus {
    background-color: var(--outline-color);
}

.indicator-button:active {
    background-color: lavender;
    padding: 0;
}

.indicator-button[aria-pressed="true"] {
    background-color: var(--outline-color);
}

.carousel-controls {
    display: none;
    position: absolute;
    width: 100vw;
    height: 100%;
    top: 0;
}
.carousel-controls li {
    list-style: none;
}

.carousel-controls button {
    position: absolute;
    top: 0;
    background: transparent;
    border: none;
    border-radius: 0;
    width: 3rem;
    height: 100%;
}

.slider:focus .carousel-controls,
.slider:hover .carousel-controls {
    display: block !important;
}
.touch .carousel-controls {
    display: block;
}

.btn-previous {
    left: 0;
}

.btn-next {
    right: 0;
    transform: rotate(180deg);
}

.rzt-slider button svg {
    width: 3rem;
    height: 3rem;
}

/* Instructions needs work */
.instructions {
    position: relative;
}

.instructions p {
    padding: 1rem;
    text-align: center;
    color: #fefefe;
    background-color: #111;
}

.rzt-slider .focus,
.rzt-slider .hover,
.rzt-slider .hover-and-focus,
.rzt-slider .touch {
    display: none;
}

.slider:focus + .focus,
.slider:hover + .hover {
    display: block;
}

.slider:hover + .hover + .focus {
    display: none;
}

.slider:hover:focus + .hover,
.slider:hover:focus + .focus {
    display: none;
}

.slider:hover:focus + .hover-and-focus {
    display: block;
}

.instructions svg {
    height: 1.5rem;
    width: 1.5rem;
    fill: #fff;
    vertical-align: -0.5rem;
}

.touch .instructions p {
    display: none !important;
}

.touch .instructions .touch {
    display: block !important;
}

/* Resets */
.rzt-slider .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/* Tone down the animation to avoid vestibular motion triggers like scaling or panning large objects. */
@media (prefers-reduced-motion) {
    * {
        animation-name: dissolve;
    }
}
