<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<div id="rzt-slider-{data.uid}"
    class="rzt-slider viewport {f:if(condition: '{slider.options.sliderSmall}', then: 'slider-small', else: '')}"
    data-autoplay="{slider.options.autoplay}" data-infinite="{slider.options.infinite}"
    data-autoplay-speed="{slider.options.autoplaySpeed}">

    <div class="slider scroll" role="region" tabindex="0" aria-describedby="instructions-{data.uid}">
        <ul class="scroll-frame">
            <f:for each="{files}" as="file" iteration="index">
                <li class="scroll-item-outer">
                    <f:if condition="{slider.options.overlay}">
                        <div class="scroll-overlay"></div>
                    </f:if>
                    <figure class="scroll-item">
                        <f:if condition="{file.title} && {file.properties.tx_a11y_slider_showtitle}">
                            <header>
                                <f:if condition="{file.link}">
                                    <f:then>
                                        <a class="carousel-title-link"
                                            href="{f:uri.typolink(parameter: '{file.link}')}">
                                            <h2 id="c-title-{data.uid}" class="carousel-title">{file.title}</h2>
                                        </a>
                                    </f:then>
                                    <f:else>
                                        <h2 id="c-title-{data.uid}" class="carousel-title">{file.title}</h2>
                                    </f:else>
                                </f:if>
                            </header>
                        </f:if>

                        <f:render partial="Pictures" arguments="{_all}" />

                        <f:if condition="{file.description} && {slider.options.description}">
                            <figcaption>
                                {file.description}
                            </figcaption>
                        </f:if>
                    </figure>
                </li>
            </f:for>
        </ul>
        <f:if condition="{slider.options.arrows}">
            <ul class="carousel-controls">
                <li>
                    <button class="btn-previous" id="btn-previous" hidden>
                        <span class="visuallyhidden"><f:translate key="LLL:EXT:a11y_slider/Resources/Private/Language/locallang.xlf:tx_a11y_slider.btnPrevious" /></span>

                        <svg viewBox="0 0 640 640" width="60" height="60">
                            <defs>
                                <path d="M113.4 318.3L434.36 2.03L456.43 24.42L135.47 340.7L113.4 318.3Z"
                                    id="bc1TPsYsJ" />
                                <path d="M135.79 296.98L452.07 617.93L429.68 640L113.4 319.04L135.79 296.98Z"
                                    id="iwQdVHQB3" />
                                <path d="M155.57 318.3L455.1 23.14L477.17 45.53L177.63 340.7L155.57 318.3Z"
                                    id="c1ksEkVkGi" />
                                <path d="M177.96 296.98L473.45 596.84L451.06 618.91L155.57 319.04L177.96 296.98Z"
                                    id="hl7MnK8Pf" />
                            </defs>
                            <g>
                                <g>
                                    <g>
                                        <use xlink:href="#bc1TPsYsJ" opacity="1" fill="#ffffff" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#iwQdVHQB3" opacity="1" fill="#ffffff" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#c1ksEkVkGi" opacity="1" fill="#000000" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#hl7MnK8Pf" opacity="1" fill="#000000" fill-opacity="1" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
                <li>
                    <button class="btn-next" id="btn-next">
                        <span class="visuallyhidden"><f:translate key="LLL:EXT:a11y_slider/Resources/Private/Language/locallang.xlf:tx_a11y_slider.btnNext" /></span>
                        <svg viewBox="0 0 640 640" width="60" height="60">
                            <defs>
                                <path d="M113.4 318.3L434.36 2.03L456.43 24.42L135.47 340.7L113.4 318.3Z"
                                    id="bc1TPsYsJ" />
                                <path d="M135.79 296.98L452.07 617.93L429.68 640L113.4 319.04L135.79 296.98Z"
                                    id="iwQdVHQB3" />
                                <path d="M155.57 318.3L455.1 23.14L477.17 45.53L177.63 340.7L155.57 318.3Z"
                                    id="c1ksEkVkGi" />
                                <path d="M177.96 296.98L473.45 596.84L451.06 618.91L155.57 319.04L177.96 296.98Z"
                                    id="hl7MnK8Pf" />
                            </defs>
                            <g>
                                <g>
                                    <g>
                                        <use xlink:href="#bc1TPsYsJ" opacity="1" fill="#ffffff" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#iwQdVHQB3" opacity="1" fill="#ffffff" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#c1ksEkVkGi" opacity="1" fill="#000000" fill-opacity="1" />
                                    </g>
                                    <g>
                                        <use xlink:href="#hl7MnK8Pf" opacity="1" fill="#000000" fill-opacity="1" />
                                    </g>
                                </g>
                            </g>
                        </svg>
                    </button>
                </li>
            </ul>
        </f:if>
    </div>

    <f:render partial="Instructions" arguments="{_all}" />

    <f:render partial="Indicators" arguments="{_all}" />
</div>

<f:asset.script identifier="sliderjs" type="module" src="EXT:a11y_slider/Resources/Public/index.js" />

</html>
